/* 
    Define the "system" font family
    https://css-tricks.com/snippets/css/system-font-stack/
*/
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// Reset
*, *::before, *::after{
    box-sizing: border-box;
}

::selection{
    background-color: transparent;
    color: #fff;
}

html{
    height: 100%;
    font-size: 3.2vw;
    @media screen and (min-width: 768px) {
        font-size: 1.7vw;
    }
}

body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: rgba(255, 255, 255, 0.7);
    font-family: system;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

header, footer{
    z-index: 100;
    opacity: 0;
    font-size: 80%;
    transition: opacity .3s;
}

header{
    opacity: .35;
    padding: .5rem;
    &:hover{
        opacity: 1;
        & ~ footer{
            opacity: 1;
        }
    }
}

footer{
    position: fixed;
    right: .5rem;
    bottom: .5rem;
}

main{
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
}

.bg__image{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: .66;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    transition: opacity .3s;
    z-index: -1;
}

aside{
    width: 100%;
    overflow: auto;
    padding: 1rem;
    z-index: 1;
    &:before{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-shadow: 0 0px 150px 50px #000;
        z-index: -1;
    }
}

.clocks{
    flex-basis: 600px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12rem;
    &--canvas{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: .15;
        z-index: -1;
        width: 200vh;
        height: auto;
    }
    &--digital{
        display: block;
        transition: all .3s;
        outline: none;
        text-decoration: none;
        &__time{
            font-size: 100%;
            line-height: 100%;
        }
        &__date{
            font-size: 35%;
        }
    }
    &--meniny{
        font-size: 15%;
    }
}
.weather{
    flex-basis: 360px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s;
    font-size: 1.5rem;
    &__desc{
        font-size: 100%;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon{
        filter: sepia(80%);
        vertical-align: middle;
        transform: scale(2.4);
        transform-origin: right 35%;
    }    
    &__temp{
        font-size: 250%;
        line-height: 100%;
        margin: 1.5rem 0 1rem;
    }
    &__more{
        line-height: 175%;
    }
}
.forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    &__hour{
        padding: .5rem;
        pointer-events: none;
        text-align: center;
    }
    &__icon{
        filter: sepia(80%);
    }
    &__time{
        font-weight: 300;
        margin-bottom: .5rem;
    }
    &__temp{
        font-weight: 900;
        white-space: nowrap;
    }
    &__wind{
        font-size: 80%;
    }
}

.app--version{
    display: inline-block;
    margin-right: .5rem;
}

.battery--level{
    display: inline-block;
    margin-right: .5rem;
}

.cpanel{
    position: fixed;
    z-index: 1010;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: all .3s;
    //background-color: fuchsia;
    transform: translate3d(0,100%,0);
    padding: 1rem 7rem;
    &__control{
        position: fixed;
        z-index: 1050;
        right: 1rem;
        top: 1rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.25);
        text-align: center;
        font-size: 5rem;
        line-height: 1.15rem;
        opacity: .25;
        transition: all .3s;
    }
    &__button{
        display: flex;
        appearance: none;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.25);
        border: none;
        color: #fff;
        font-size: 2rem;
        line-height: 5rem;
        font-weight: 200;
        flex-grow: 1;
        text-transform: uppercase;
        &:focus{
            background-color: rgba(255, 255, 255, 0.5);
        }
        &:before{
            content: "\00BB";
            display: block;
            width: 7rem;
            background-color: orangered;
            height: 100%;
            margin-right: 2rem;
            font-size: 2.5rem;
        }
    }
}

/*
    Focus Controls
*/
.focus{
    &__control{
        display: none;
    }
    &--clocks{
        &:checked ~,
        &:checked ~ * {
            .clocks--digital{
                //transform: scale(1.5);
                font-size: 13rem;
                &__time{
                    font-weight: 600;
                }
            }
            .weather{
                transform: scale(.8);
            }
            .bg__image{
                opacity: .33;
            }
        }
    }
    &--image{
        &__control{
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 5rem;
            height: 5rem;
            background-color: transparent;
            border-radius: 50%;
            z-index: 1000;
            opacity: .15;
        }
        &:checked ~,
        &:checked ~ * {
            .bg__image{
                opacity: 1;
            }
        }
    }
    &--cpanel{
        &:checked ~,
        &:checked ~ * {
            .cpanel{
                opacity: 1;
                transform: translate3d(0,0,0);
                &__control{
                    opacity: 1;
                }
            }
            main, main+aside{

            }
        }
    }
}