/* 
    Define the "system" font family
    https://css-tricks.com/snippets/css/system-font-stack/
*/
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
  color: #fff;
}

html {
  height: 100%;
  font-size: 3.2vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.7vw;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7);
  font-family: system;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

header, footer {
  opacity: 0;
  font-size: 80%;
  transition: opacity 0.3s;
}

header {
  padding: 0.5rem;
}
header:hover {
  opacity: 1;
}
header:hover ~ footer {
  opacity: 1;
}
header span {
  display: inline-block;
  margin-right: 1rem;
}

footer {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

main {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
}

.bg__image {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  transition: opacity 0.3s;
}

.focus--clocks {
  display: none;
}
.focus--clocks:checked ~ .clocks--digital, .focus--clocks:checked ~ * .clocks--digital {
  transform: scale(1.3);
}
.focus--clocks:checked ~ .weather, .focus--clocks:checked ~ * .weather {
  transform: scale(0.8);
}
.focus--clocks:checked ~ .bg__image, .focus--clocks:checked ~ * .bg__image {
  opacity: 0.33;
}

aside {
  width: 100%;
  overflow: auto;
  padding: 1rem;
}

.clocks {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clocks--canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15;
  z-index: -1;
  width: 200%;
  height: auto;
}
.clocks--digital {
  display: block;
  transform-origin: left;
  transition: all 0.3s;
  outline: none;
  text-decoration: none;
}
.clocks--digital__time {
  font-size: 8rem;
  line-height: 100%;
}
.clocks--digital__date {
  font-size: 3.5rem;
}

.weather {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform-origin: right;
  transition: all 0.3s;
}
.weather__desc {
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather__icon {
  filter: sepia(80%);
  vertical-align: middle;
  transform: scale(2.4);
  transform-origin: right 35%;
}
.weather__temp {
  font-size: 5rem;
  line-height: 5rem;
  margin: 1.5rem 0 1rem;
}
.weather__more {
  line-height: 175%;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}
.forecast__hour {
  padding: 0.5rem;
  pointer-events: none;
  text-align: center;
}
.forecast__icon {
  filter: sepia(80%);
}
.forecast__time {
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.forecast__temp {
  font-weight: 900;
  white-space: nowrap;
}
.forecast__wind {
  font-size: 80%;
}