/* 
    Define the "system" font family
    https://css-tricks.com/snippets/css/system-font-stack/
*/
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
  color: #fff;
}

html {
  height: 100%;
  font-size: 3.2vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.7vw;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7);
  font-family: system;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

header, footer {
  z-index: 100;
  opacity: 0;
  font-size: 80%;
  transition: opacity 0.3s;
}

header {
  opacity: 0.35;
  padding: 0.5rem;
}
header:hover {
  opacity: 1;
}
header:hover ~ footer {
  opacity: 1;
}

footer {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

main {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;
}

.bg__image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.66;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: -1;
}

aside {
  width: 100%;
  overflow: auto;
  padding: 1rem;
  z-index: 1;
}
aside:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0px 150px 50px #000;
  z-index: -1;
}

.clocks {
  flex-basis: 600px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12rem;
}
.clocks--canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15;
  z-index: -1;
  width: 200vh;
  height: auto;
}
.clocks--digital {
  display: block;
  transition: all 0.3s;
  outline: none;
  text-decoration: none;
}
.clocks--digital__time {
  font-size: 100%;
  line-height: 100%;
}
.clocks--digital__date {
  font-size: 35%;
}
.clocks--meniny {
  font-size: 15%;
}

.weather {
  flex-basis: 360px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s;
  font-size: 1.5rem;
}
.weather__desc {
  font-size: 100%;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather__icon {
  filter: sepia(80%);
  vertical-align: middle;
  transform: scale(2.4);
  transform-origin: right 35%;
}
.weather__temp {
  font-size: 250%;
  line-height: 100%;
  margin: 1.5rem 0 1rem;
}
.weather__more {
  line-height: 175%;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}
.forecast__hour {
  padding: 0.5rem;
  pointer-events: none;
  text-align: center;
}
.forecast__icon {
  filter: sepia(80%);
}
.forecast__time {
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.forecast__temp {
  font-weight: 900;
  white-space: nowrap;
}
.forecast__wind {
  font-size: 80%;
}

.app--version {
  display: inline-block;
  margin-right: 0.5rem;
}

.battery--level {
  display: inline-block;
  margin-right: 0.5rem;
}

.cpanel {
  position: fixed;
  z-index: 1010;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: all 0.3s;
  transform: translate3d(0, 100%, 0);
  padding: 1rem 7rem 1rem 1rem;
}
.cpanel__control {
  position: fixed;
  z-index: 1050;
  right: 1rem;
  top: 1rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
  opacity: 0.25;
  transition: all 0.3s;
}
.cpanel__control .icon {
  font-size: 4rem;
}
.cpanel__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  appearance: none;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  color: #000;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
  width: 25%;
  height: 30vh;
  margin: 0.25rem;
}
.cpanel__button:focus {
  background-color: white;
}
.cpanel__button .icon {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}
.cpanel__button img {
  display: block;
  max-width: 100%;
}

/*
    Focus Controls
*/
.focus__control {
  display: none;
}
.focus--clocks:checked ~ .clocks--digital, .focus--clocks:checked ~ * .clocks--digital {
  font-size: 13rem;
}
.focus--clocks:checked ~ .clocks--digital__time, .focus--clocks:checked ~ * .clocks--digital__time {
  font-weight: 400;
}
.focus--clocks:checked ~ .weather, .focus--clocks:checked ~ * .weather {
  transform: scale(0.8);
}
.focus--clocks:checked ~ .bg__image, .focus--clocks:checked ~ * .bg__image {
  opacity: 0.33;
}
.focus--image__control {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1000;
  opacity: 0.15;
}
.focus--image:checked ~ .bg__image, .focus--image:checked ~ * .bg__image {
  opacity: 1;
}
.focus--cpanel:checked ~ .cpanel, .focus--cpanel:checked ~ * .cpanel {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.focus--cpanel:checked ~ .cpanel__control, .focus--cpanel:checked ~ * .cpanel__control {
  opacity: 1;
}
audio {
  display: block;
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1000;
}
audio.playing {
  opacity: 0.25;
}
audio.playing:hover {
  opacity: 0.75;
}